{% extends "base.html.twig" %}

{% block content %}
    {{ parent() }}
    <div id="contact__container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {{ form(contactForm) }}
    </div>
    <style>
        div#contact__container {
            max-width: 800px;
            margin: 10px auto 0 auto;
        }
        div#contact > div {
            display: flex;
            flex-direction: column;
        }
        div#contact label {
            margin: 5px 0;
        }
    </style>
{% endblock %}
